@import './imports/ui/shape/global.styl'
@import './imports/ui/shape/fonts.styl'



body
  position absolute
  display block
  width 100vw
  height 100vh
  margin 0
  padding 0
  overflow hidden
  background white

  > #root, & > #root > #App
    position relative
    display block
    width 100%
    height 100%

  > #root > #App
    overflow auto

    > #layout
      min-width 960px
      min-height 640px
      overflow hidden
